################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UWP/BackgroundTask/bin
/UWP/BackgroundTask/obj
/UWP/GeoFencing/bin
/UWP/GeoFencing/obj
